.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0.5em;
}

.gallery>* {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.gallery> :hover {
  filter: grayscale(80%);
  transition: all ease 0.5s;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.4), 0 3px 20px 0 rgba(255, 255, 255, 0.19);
}

.gallery>.titleoverlay {
  position: relative;
}

.gallery-show-title {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.25em;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0)
}

.gallery-show-title:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, .2);
  text-shadow: 0 0px 4px rgba(0, 0, 0, .75)
}

.gallery> :nth-child(7n+1), :nth-child(7n+2), :nth-child(7n+6), :nth-child(7n+7) {
  grid-column: span 3;
}

.gallery> :nth-child(7n + 3), :nth-child(7n + 4), :nth-child(7n + 5) {
  grid-column: span 2;
}